/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --accent-color: #ff0070;
  --main-bg-color: #00183f;
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
  --logo-color: #db00ff;

}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-width: 375px;
  margin: 0;
  background-image: url("/images/cover-image-dark.png");
  background-size: cover;
  color: var(--main-text-color);
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  background-attachment: fixed;
  font-family: var(--main-font);
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  position: relative;
  padding-right: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 36px;
  padding-top: 20px;
}

@media (width < 769px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 36px;
  }
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--nav-color);
  background-color: inherit;
  border: none;
}

.header__theme-menu-button:hover {
  outline: var(--main-text-color);
  outline-width: thin;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
  padding: 0px 13px;
}

.header_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--section-heading-color);
  line-height: 82.5%; /* 95.7px */
  font-weight: 700;
}

.resume {
  background-color: var(--accent-color);
  font-weight: 700;
  color: var(--main-heading-color);
  width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  justify-self: end;
  align-self: center;
}

.why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 0 20px;
}

@media (width < 376px) {
  .why {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 0;
    margin-block-end: 50px;
  }
}

.section_heading {
  background-color: var(--section-heading-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  color: var(--main-heading-color);
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.article {
  margin-block-start: 40px;
}



.text_paraghraph {
  line-height: 23.4px; /* 130% */
}

.link {
  text-shadow: 2px 2px 0 var(--section-heading-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-text-color);
}

.link:focus {
  outline: var(--main-text-color);
}

.link:focus-visible {
  outline: var(--main-text-color);
  text-transform: uppercase;
}

.heading {
  color: var(--section-heading-color);
  font-size: 18px;
  line-height: 23.4px; /* 130% */
  font-weight: 700;
  margin-block-start: 20px;
  max-width: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem);
}

@media (width < 376px) {
  .heading {
    max-width: 355px;
    margin-block-start: 0;
  }
}

.what {
  padding: 0 20px;
  margin-block-start: 80px;
}

@media (width < 376px) {
  .what {
    padding: 0 10px;
    margin-block-start: 0;
  }
}

.text-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width < 769px) {
  .text-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}

.how-to {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 20px;
  margin-block-start: 60px;
  margin-block-end: 80px;
  gap: 16px;
}

@media (width < 376px) {
  .how-to {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 0;
    margin-block-end: 50px;
    margin-block-start: 0;
  }
}

.how-to_section {
  /* padding-left: 5px; */
}

.subtitle {
  background-color: var(--section-heading-color);
  color: var(--main-heading-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.article_pictures {
  padding: 0 20px;
  margin-bottom: 50px;
}

@media (width < 376px) {
  .article_pictures {
    padding: 0 10px;
  }
}

.pictures {
  padding: 10px 0;
  display: grid;
  gap: 20px;
  overflow: hidden;
  align-items: stretch;
}

@media (width < 376px) {
  .pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.grid__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.grid__image:first-of-type {
  grid-column: 1 / 3;
 }

 .grid__image:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
 }

 .grid__image:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
 }

 .grid__image:nth-of-type(4) {
  grid-column: 2 / 3;
 }

 .grid__image:nth-of-type(5) {
  grid-column: 2 / span 2;
 }

@media (width < 375px) {
  .header_title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decorated-zone::after,
.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  right: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  left: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (width < 376px) {
  .article {
    /* margin-block-start: 20px; */
    margin-block-end: 50px;
  }
}