/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --accent-color: #ff0070;
  --main-bg-color: #00183f;
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
  --logo-color: #db00ff;

}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-width: 375px;
  margin: 0;
  /* padding: 20px; */
  background-image: url("/images/cover-image-dark.png");
  background-size: cover;
  color: var(--main-text-color);
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  background-attachment: fixed;
  font-family: var(--main-font);
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 319px 71px 319px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 36px;
  padding-top: 20px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--nav-color);
  background-color: inherit;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  height: 26px;
  padding: 0px 13px;
}

.header__rec {
  position: absolute;
}

.header__rec::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  block-size: 1px;
  background-color: var(--accent-color);
}

.header_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: #DB00FF;
  text-shadow: 4px 4px 0px var(--section-heading-color);
  line-height: 82.5%; /* 95.7px */
  font-weight: 700;
  /* margin: 250px 0 114px 0;
  text-align: left; */
}

.resume {
  background-color: var(--accent-color);
  font-weight: 700;
  color: var(--main-heading-color);
  width: 491px;
  margin-left: 513px;
  align-self: center;
  margin-block-start: 85px;
}

.why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 0 20px;
  /* margin-block-start: 40px; */
}

.section_heading {
  background-color: var(--section-heading-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  color: var(--main-heading-color);
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.article {
  margin-block-start: 40px;
  line-height: 23.4px; /* 130% */
}

.heading {
  color: var(--section-heading-color);
  font-size: 18px;
  line-height: 23.4px; /* 130% */
  font-weight: 700;
  margin-block-start: 20px;
  width: 315px;
}

.what {
  padding: 0 20px;
  margin-block-start: 80px;

}

.what_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}

.how-to {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 20px;
  margin-block-start: 60px;
  margin-block-end: 55px;
}

.how-to_section {
  padding: 0 10px;
}

.subtitle {
  background-color: var(--section-heading-color);
  color: var(--main-heading-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-block-start: 20px;
  margin-block-end: 5px;
}

.pictures {
  padding: 0 20px;
  display: grid;
  gap: 20px;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
}

.picture-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.picture-2 {
  object-fit: cover;
  object-position: center center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.picture-3 {
  object-fit: cover;
  object-position: center center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.picture-4 {
  object-fit: fill;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.picture-5 {
  object-fit: fill;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media (max-width: 1024px) {
  .pictures {
      
  }
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto auto; */
}